.ui-page {
    background: transparent url('grouper.png') no-repeat center bottom;
    background-size: 100%;
}

#grouppanel {
    background: #aaa;
}

.sq{
	border-radius:0.2em;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.sqnav {
	border-radius:0.2em;
}

.round {
	border-radius: 0.5em;
}
h3 {
	text-align: center;
}

#align {
	text-align:center;

}

#align a {
	margin-left:10px;
}

#align a:visited {
	color:#6abaff;
	font-weight:bold;
}


#localgrouplist {
	margin-top: 30px;
	width: 100%;
	opacity: .8;
	}


.grouperimg {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    max-width: 90%;
    bottom: 10%;
    border:none;

}
.grouperimg img {
    max-width:100%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    border:none;


}

.header {
	position:fixed;
	width:100%;
	top:0%;
	z-index:2;
}
.footer {
  position:fixed;
  width:100%;
  bottom:0%;
  z-index:2;
}

#groupmapcanvas, #peermapcanvas {
    margin-bottom: 40px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

#userinfo {
	background-color:#f6f6f6;
	padding:10px;
	opacity:0.98;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

#userinfo p
  {
  font-weight:bold;
  color:#000000;
  }

  #userinfo a
  {
  font-weight:bold;
  color:#000000;
  }

  #userinfo h3
  {
  font-weight:bold;
  color:#000000;
  }

  .panellistdiv {
    overflow-y:auto;
  }


  .messagesdiv {
    overflow-y:auto;
  }
  .messagesdiv ul {
      padding-top:100%;
      padding-left: 0px;
  }
  .messageimg {
      width: 100%;
      display: block;
  }
