.sq{
	border-radius:0.2em;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.sqnav {
	border-radius:0.2em;
}

.round {
	border-radius: 0.5em;
}
h3 {
	text-align: center;
}

#align {
	text-align:center;

}

#align a {
	margin-left:10px;
}

#align a:visited {
	color:#6abaff;
	font-weight:bold;
}


#localgrouplist {
	margin-top: 30px;
	width: 100%;
	opacity: .8;
	}



.grouperimg {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    max-width: 90%;
    bottom: 10%;

}
.grouperimg img {
    max-width:100%;
    max-height:100%;
    position: absolute;
    margin-left:-256px;


}

.header {
	position:fixed;
	width:100%;
	top:0%;
	z-index:2;
}
.footer {
  position:fixed;
  width:100%;
  bottom:0%;
  z-index:2;
  margin-bottom: -5;
}

#groupmapcanvas, #peermapcanvas {
    margin-bottom: 40px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

#userinfo {
	background-color:#f6f6f6;
	padding:10px;
	opacity:0.98;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

#userinfo p
  {
  font-weight:bold;
  color:#000000;
  }

  #userinfo a
  {
  font-weight:bold;
  color:#000000;
  }

  #userinfo h3
  {
  font-weight:bold;
  color:#000000;
  }

  .messagesdiv {
    overflow-y:auto;
  }
  .messagesdiv ul {
      padding-top:100%;
      padding-left: 0px;
  }
  .messageimg {
      width: 100%;
      display: block;
  }

  #username {
    background-color: hsl(217, 88%, 34%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#186bf0", endColorstr="#0a44a2");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#186bf0), to(#0a44a2));
    background-image: -moz-linear-gradient(top, #186bf0, #0a44a2);
    background-image: -ms-linear-gradient(top, #186bf0, #0a44a2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #186bf0), color-stop(100%, #0a44a2));
    background-image: -webkit-linear-gradient(top, #186bf0, #0a44a2);
    background-image: -o-linear-gradient(top, #186bf0, #0a44a2);
    background-image: linear-gradient(#186bf0, #0a44a2);
    border-color: #0a44a2 #0a44a2 hsl(217, 88%, 29.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
    -webkit-font-smoothing: antialiased;
}
